@model  AspNetCoreMvcIdentity.Models.ApplicationUserViewModels.ProfileListModel
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Username</th>
                <th>Email</th>
                <th>Member Since</th>
                <th>Rating</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.Profiles)
            {
                <tr>
                    <td>
                        @if (user.IsAdmin)
                        {
                            <img src="/images/users/admin.png" width="50px" class="rounded-circle" alt="Admin Profile"/>
                        }
                        else
                        {
                            <img src="@(string.IsNullOrEmpty(user.ProfileImageUrl) ? "/images/users/default.png" : user.ProfileImageUrl)" 
                                 width="50px" class="rounded-circle" alt="User Profile"/>
                        }
                    </td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.MemberSince.ToString("dd/MM/yyyy")</td>
                    <td>@user.UserRating</td>
                    <td>@user.UserType</td>
                </tr>
            }
        </tbody>
    </table>
</div>